[2018-03-22 06:23] cpanse opened #1 "test bfabric interface"
<img width="626" alt="screen shot 2018-03-22 at 07 22 50" src="https://user-images.githubusercontent.com/4901987/37754448-dfd04286-2da1-11e8-9ed9-450f35ecd1df.png">

[2018-03-22 06:23] cpanse opened #2 "add pdf Download for report and each graphic"

[2018-03-22 06:24] cpanse opened #3 "add helpText on each plot tab"

[2018-03-26 04:54] cpanse opened #4 "add PlotSOM"
https://www.shanelynn.ie/self-organising-maps-for-customer-segmentation-using-r/

[2018-03-31 06:51] cpanse opened #5 "dark theme"
[code]

[2018-04-05 08:25] cpanse opened #6 "create order hexSticker"
https://github.com/GuangchuangYu/hexSticker

[2018-04-05 08:57] cpanse opened #7 "add targeted example data"
also consider to load data as

[code]

and having a man page.

[2018-04-08 18:31] cpanse commented on #7
can we use that one?
https://bioconductor.org/packages/release/data/experiment/html/msqc1.html

[2018-04-12 08:43] cpanse opened #8 "add testthat case for .calc.transient"
this function has to be refactored to eliminate the R CMD check NOTE: 'no visible binding for global variable'. using the `mutate_at`

[2018-04-26 07:27] cpanse opened #9 "Make it PSI friendly - mzR reader method"
to benefit from to the fantastic  PSI world.

[2018-04-26 07:29] cpanse opened #10 "try to solve the Thermo License issue"

[2018-04-26 07:30] cpanse opened #11 "move RData to data"

[2018-04-26 07:40] cpanse opened #12 "enable the vignette file for the package"

[2018-04-26 07:41] cpanse opened #13 "`R CMD check rawDiag_0.0.3.tar.gz`"
should pass a CRAN submission

[2018-04-26 07:42] #5 closed

[2018-04-26 08:11] wolski commented on #9
Map columns from RawDiag to CV terms.

c("filename", "scanNumber", "StartTime", "BasePeakMass",
        "BasePeakIntensity", "TIC", "ScanType", "CycleNumber",
        "MSOrder", "MassAnalyzer", "PrecursorMass", "ChargeState",
        "IonInjectionTimems", "FTResolution", "MasterScanNumber",
        "LMCorrection", "ElapsedScanTimesec", "transient", "AGC",
        "AGCMode", "PrescanMode")

https:/

[2018-04-26 08:31] tobiasko commented on #9
I will most likely not manage to do this before 15th of May (application deadline).

[2018-04-27 08:02] cpanse commented on #9
the code snippet below should do the job

[code]

[2018-04-27 08:02] #9 closed

[2018-04-28 19:45] cpanse commented on #6
# Install
[code]
[code]

[code]
# Have Fun

[code]

[2018-05-02 09:25] tobiasko commented on #6
![octopussylogo](https://user-images.githubusercontent.com/12233339/39515832-84b561ea-4dfb-11e8-9411-276bc6fb71d6.png)

[2018-05-02 09:28] tobiasko commented on #6
We should discuss the URL issue. It would be cool to have an url that does not contain "protViz". I think we should also add the F G C Z logo somehow.

[2018-05-09 13:08] cpanse commented on #2
![screen shot 2018-05-09 at 15 08 27](https://user-images.githubusercontent.com/4901987/39816203-db53e8c4-539a-11e8-86be-a00d8a2be565.png)
DONE

[2018-05-09 13:08] #2 closed

[2018-05-09 13:09] cpanse commented on #1
DONE

[2018-05-09 13:09] #1 closed

[2018-05-09 13:10] cpanse opened #14 "read.tdf - Bruker timsTOF reader"
[code]

[2018-05-09 13:10] cpanse commented on #14
check 'MsMsType' 8 and 0

[2018-05-17 08:25] cpanse opened #15 "upload HFX data to PE"
used in the application section of https://www.biorxiv.org/content/early/2018/04/24/304485
and add the ID to the manuscript.

[2018-05-18 07:23] cpanse opened #16 "lazy-load database '/usr/local /lib/R/site-library/stringr/R/stringr.rdb' is corrupt"
Error in unlist(str_split(x, "\n"), recursive = FALSE, use.names = FALSE): lazy-load database '/usr/local /lib/R/site-library/stringr/R/stringr.rdb' is corrupt

[2018-05-18 08:38] wolski commented on #16
This error is discussed here:
https://stackoverflow.com/questions/39560808/rendering-an-rmd-fails-because-stringr-rdb-is-corrupt

Restarting the R-session will solve the problem.

[2018-05-18 08:39] #16 closed

[2018-05-18 09:02] cpanse opened #17 "Harmonize function names PlotMzDistribution and PlotPrecursorHeatmap"

[2018-05-18 09:10] cpanse commented on #17
PlotMzDistribution
PlotMzHeatmap

or

PlotPrecursorDistribution
PlotPrecursorHeatmap

[2018-05-18 09:37] cpanse opened #18 "bivariate histogram - heatmap deconvolute checkbox?"
[code]

[2018-05-24 06:00] tobiasko commented on #15
I uploaded the data to massIVE and made it public. The dataset ID is

MSV000082389

conversions to open data formats are running. The ftp link is:

ftp://massive.ucsd.edu/MSV000082389

[2018-05-24 06:00] #15 closed

[2018-05-24 06:02] tobiasko commented on #6
Stickers were ordered at stickermule

[2018-05-24 06:02] #6 closed

[2018-05-24 10:07] cpanse commented on #12
devtools::install_github("protViz/rawDiag", build_vignettes = TRUE)

[2018-05-24 10:07] #12 closed

[2018-05-24 10:11] jjGG commented on #12
..
* checking for file
'/private/var/folders/83/dstdfqb54p36_whfvqrsqfkw0000gp/T/RtmpXwAq7E/devtools4bcf5efa30a4/protViz-rawDiag-971267d/DESCRIPTION'
... OK
* preparing 'rawDiag':
* checking DESCRIPTION meta-information ... OK
* installing the package to build vignettes
* creating vignettes ... ERROR
During startup - Warning messages:
1: Setting LC_CTYPE failed, using "C"
2: Setting LC_TIME failed

[2018-05-28 07:56] tobiasko opened #19 "ASMS 2018 poster"
INFORMATICS: ALGORITHMS AND STATISTICAL ADVANCES II 374-392
ThP 375
Optimize your Method: rawDiagnostic An R Package to Support Method Development for Bottom-up Proteomics on Orbitrap Instruments

[2018-05-28 07:57] tobiasko commented on #19
Printing @ASMS

http://www.asms.org/conferences/annual-conference/presenter-guidelines

[2018-05-30 19:07] cpanse commented on #19
<img width="916" alt="screen shot 2018-05-30 at 21 07 13" src="https://user-images.githubusercontent.com/4901987/40742033-7f663bfc-644d-11e8-9075-85d340cb8dd8.png">

[2018-05-31 14:44] cpanse commented on #19
http://fgcz-ms.uzh.ch/~cpanse/ASMS2018_ID291250.pdf

[2018-05-31 14:44] #19 closed

[2018-06-11 10:35] #3 closed

[2018-06-11 10:36] cpanse commented on #11
plus short  filename

[2018-06-11 10:37] cpanse opened #20 "windows build and windows build testing"

[2018-06-11 10:41] jjGG opened #21 "ScanTime plot not working"
hei zäme..
de ScanTime plot (den so viele Leute sich anschauen wollten) funktioniert nicht.

[2018-06-11 10:43] jjGG opened #22 "Competitors work"
here a link to the ASMS poster of Thermos Tartare!
https://assets.thermofisher.com/TFS-Assets/CMD/posters/po-65226-xcalibur-tartare-rawmeat-asms2018-po65226-en.pdf

[2018-06-13 13:02] cpanse commented on #20
[code]

## testing

[code]

[2018-06-13 13:14] cpanse commented on #21
done

[2018-06-13 13:14] #21 closed

[2018-06-13 13:15] #11 closed

[2018-06-14 07:43] cpanse commented on #20
![screen shot 2018-06-14 at 09 38 24](https://user-images.githubusercontent.com/4901987/41398312-3d239256-6fb7-11e8-9373-e0cc7f33d8d8.png)

https://cran.r-project.org/bin/windows/base/rw-FAQ.html

**do not install on a network drive!!!**

[2018-06-14 07:43] #20 closed

[2018-06-14 08:25] tobiasko opened #23 "installation of NewRawFileReader on MacOS"
I tried to follow

"Register the .Net assembly in your system similar to a Linux installation", but it is unclear to me what this implies. The following things are done:

- downloaded the NewRawFileReader archive from Thermo
- installed mono

What are the next steps? How do I install the NuGet packe? Do I need VisualStudio? If not, what are the alternatives? We need to document this in a way that

[2018-06-14 08:50] tobiasko commented on #23
`tobiasko@public-docking-hpx-1240:~/Downloads/OneDrive_1_14-06-2018/Windows_MacOS > gacutil -i lib/monomac/ThermoFisher.CommonCore.BackgroundSubtraction.dll
Failure adding assembly lib/monomac/ThermoFisher.CommonCore.BackgroundSubtraction.dll to the cache: Strong name cannot be verified for delay-signed assembly`

[2018-06-14 11:43] tobiasko commented on #23
I used strategy 2 as given in the README (copied dlls to exec folder of package). Calling read.raw() gives an error using sample file provided with the package:

[1] "/Library/Frameworks/R.framework/Versions/3.3/Resources/library/rawDiag/extdata/sample.raw"

executing mono /Library/Frameworks/R.framework/Versions/3.3/Resources/library/rawDiag/exec/fgcz_raw.exe /Library/Frameworks/R.framework/Versi

[2018-06-14 12:01] cpanse commented on #23
On how to install the New ThermoRawFileReader follow the guidelines by Thermo.

[2018-06-14 12:01] #23 closed

[2018-06-14 12:08] tobiasko commented on #23
@cpanse Your childish behaviour is not helpful! I have read the docs provided by Thermo and I still was not able to complete the installation. Do you believe that the reviewers will be smarter more talented than me?

[2018-06-14 12:12] tobiasko commented on #23
btw: I meanwhile found out what happens. The dlls get eliminated, each time the R package gets updated/reinstalled. Now it works:
`

executing mono /Library/Frameworks/R.framework/Versions/3.3/Resources/library/rawDiag/exec/fgcz_raw.exe /Library/Frameworks/R.framework/Versions/3.3/Resources/library/rawDiag/extdata/sample.raw qc ...
MasterScanNumber calculated
renamed LMmZCorrectionppm to LMCorrect

[2018-06-16 07:55] cpanse commented on #13
![rcmdcheck](https://user-images.githubusercontent.com/4901987/41496932-50d43c16-714b-11e8-8117-bb864b65e0e1.gif)

Status: 5 WARNINGs, 4 NOTEs => 9 issues

[2018-06-16 07:57] cpanse commented on #13
[00check.log](https://github.com/fgcz/rawDiag/files/2107951/00check.log)

[2018-06-16 12:02] cpanse commented on #13
![rawdiag-rcmdcheck](https://user-images.githubusercontent.com/4901987/41498432-e342956c-716d-11e8-9ada-2f4563dd2ce8.gif)

[2018-06-23 09:29] #13 closed

[2018-07-03 15:04] cpanse opened #24 "wrong variable in version 0.0.5"
https://github.com/fgcz/rawDiag/blob/465701813d055f5d76c9d36f78795d5916481c62/R/rawDiag.R#L445
<img width="511" alt="screen shot 2018-07-03 at 17 00 34" src="https://user-images.githubusercontent.com/4901987/42227972-0d75a9aa-7ee3-11e8-8b0f-a34d3d8e6b26.png">

 rename rawfile -> file and test again

[2018-07-03 15:14] #24 closed

[2018-07-04 16:10] cpanse opened #25 "LFQ demo"
[code]

[2018-07-05 11:01] cpanse opened #26 "more columns than column names Fusion Lumos"
...

Bigger bug, I guess you didn’t have a  Fusion Lumos file to test with:
Extracting the raw file for scans/XIC works, however the read.raw () function throws an error. I guess the naming is different, perhaps one can build a fallback flag to ignore them if none are found. Otherwise this might have to be adapted to different machines. I could provide raw files for Orbitrap XL, Velos, Elite, QE P

[2018-07-05 11:17] cpanse commented on #26
[code]

[2018-07-06 12:47] dzolg opened #27 "Centroided ITMS (ion trap) cans not recognized"
Don't know if it ever was intended to work on ITMS data, however trying to get the peaklist of a Fusion Lumos ion trap scan always results in the following error:

[code]
Cheers
Daniel

[2018-07-13 09:07] cpanse opened #28 "add study and lab info to sample information"
https://github.com/fgcz/rawDiag/blob/cc8e18e05f607993e372d49d972e8e8b1c809c24/inst/docker/fgcz_raw.cs#L512

[code]
![screen shot 2018-07-13 at 11 06 45](https://user-images.githubusercontent.com/4901987/42683180-dda2f4ec-868c-11e8-8767-87afdad37f1f.png)

[2018-07-13 10:10] cpanse commented on #26
propose fix

[code]

[code]

[2018-07-13 13:36] cpanse commented on #27
mixing centroid and profile stream

TODO(cp): if no centroid stream is available insert an `NA` element.

[code]

[2018-07-14 08:01] cpanse opened #29 "FUSION FTMS/ITMS und Centroided/Profile data."
https://fgcz-bfabric.uzh.ch/bfabric/userlab/show-workunit.html?id=170064&tab=details

4 Exp., jedes vom Type Full MS -> ddMS2 (1 s), aber jedes Exp. hat eine andere Kombie aus

FTMS/ITMS und Centroided/Profile data.

[2018-07-23 13:29] cpanse commented on #26
commit c046a13fe6c924794a5541a3e12c249a737f6edc

[2018-07-23 13:29] #26 closed

[2018-07-23 13:29] cpanse commented on #29
commit c046a13fe6c924794a5541a3e12c249a737f6edc

[2018-07-23 13:30] cpanse commented on #29
commit c046a13fe6c924794a5541a3e12c249a737f6edc

[2018-07-23 13:30] #29 closed

[2018-07-23 13:30] cpanse commented on #27
commit c046a13fe6c924794a5541a3e12c249a737f6edc

[2018-07-23 13:30] #27 closed

[2018-07-31 11:54] dzolg opened #32 ""try" output to console when extracting centroided ITMS scans"
When extracting centroided ITMS scans, rawDiag prints "try" for every single scan that it extracts to the console. Suggest to remove or make at least optional flag.

[2018-08-21 11:54] cpanse commented on #10
[FGC-RawFileRdr-v1_text.pdf](https://github.com/fgcz/rawDiag/files/2306134/FGC-RawFileRdr-v1_text.pdf)

[2018-08-21 12:02] #10 closed

[2018-09-17 08:41] cpanse opened #33 "language setting - digits separator is a comma and not a dot"
https://github.com/fgcz/rawDiag/blob/6efdab041ea35b310fa2fb5d9323e3ea0be5fb3e/R/rawDiag.R#L469

possible solution
[code]

thanks to Yann GUITTON

[2018-09-26 09:16] wolski opened #34 "MaxQuant evidence file for targeted XIC extraction"
MQ bfabric workunit with combined course data: 175310

download zip than:

[code]

[2018-10-10 10:08] cpanse commented on #34
@wolski it look like as if this issue is in the wrong queue

[2018-10-16 13:07] #32 closed

[2018-10-16 13:07] cpanse commented on #32
done with 0.0.15 version

[2018-10-20 07:58] cpanse opened #35 "`plot.xic`"
having implementations for three method options.

[code]

[2018-10-24 12:51] cpanse opened #36 "change default path reading files"
brought up by  Eduard

[2018-10-25 05:15] cpanse commented on #36
consider having a `rawDiagrc` in `$HOME` containing a list of directories;
 has to be checked on the windows platform

[2018-10-25 06:55] cpanse commented on #36
[code]

[2018-10-25 09:49] tobiasko commented on #36
The requested URL /~cpanse/rawDiag_0.0.18.tar.gz was not found on this server.

[2018-10-25 11:36] tobiasko commented on #36
tested for

`

R version 3.3.2 (2016-10-31)
Platform: x86_64-apple-darwin13.4.0 (64-bit)
Running under: macOS  10.13.6

locale:
[1] C

attached base packages:
[1] parallel  stats     graphics  grDevices utils     datasets  methods   base

other attached packages:
[1] ggplot2_2.2.1   base64enc_0.1-3 rmarkdown_1.9   tidyr_0.8.0     shiny_1.1.0     rawDiag_0.0.18
[7] protViz_0.3.1

loaded via a names

[2018-10-29 14:18] cpanse opened #37 "install.R for windows"
[code]

run the rawDiag shiny application

[code]

run as batch script on the windows box

[code]

[2018-10-30 10:20] jjGG commented on #37
hei, works on my mac without a problem.
Only for XIC extraction (if I click "extract main peak") I get the error..
///////// console ///////
displays XICs of given masses.
arguments imply differing number of rows: 50, 0

[2018-10-30 13:17] tobiasko opened #38 "supported std. peptides"
So far rawDiag supports:

- iRT (Biognosys)
- 6 x 5 LC-MS/MS Peptide Ref. Mix (Promega)
- MSQC1 (Sigma)

Are the other peptide set that could make sense?

**PROCAL**
Zolg, D. P., Wilhelm, M., Yu, P., Knaute, T., Zerweck, J., Wenschuh, H., et al. (2017). PROCAL: A Set of 40 Peptide Standards for Retention Time Indexing, Column Performance Monitoring, and Collision Energy Calibration. Proteomics, 17

[2018-10-30 13:21] tobiasko commented on #38
**CiRT**
Parker, S. J., Röst, H., Rosenberger, G., Collins, B. C., Malmström, L., Amodei, D., et al. (2015). Identification of a Set of Conserved Eukaryotic Internal Retention Time Standards for Data-independent Acquisition Mass Spectrometry. Molecular & Cellular Proteomics : MCP, 14(10), 2800–2813. http://doi.org/10.1074/mcp.O114.042267

[2018-10-30 13:56] jjGG commented on #37
Reopened on request of CP ;)

[2018-10-30 15:58] tobiasko opened #39 ""About software" tab for GUI"
We should have a tab in the GUI that displays some important infos regarding the software:

- License/copyright infos (see About RStudio)
- links to repositories (GitHub)
- contact points for bug reporting/help
- literature references (our publication)

[2018-10-31 10:22] tobiasko opened #40 "unit test data"
I created some raw files that could be used for unit testing.

a) Calibration mix recording on a FUSION (profile & centroid mode)

Pierce LTQ Velos ESI Positive Calibration Solution, Product number: 88323

[2018-10-31 16:20] cpanse commented on #39
https://github.com/fgcz/rawDiag/blob/master/inst/shiny/bfabric_rawDiag/about.md

[2018-11-03 11:24] tobiasko opened #41 "add scan filters to readXICs()"
Our current readXICs() does not support any scan filters. Actually the compiled c# code uses the hard coded filter:

`Filter = "ms"`
 that returns all scans.
see line 1046 of [fgcz_raw.cs](https://github.com/fgcz/rawDiag/blob/master/inst/docker/fgcz_raw.cs)

I think it would be cool to have an additional parameter for readXICs() that passes filters to the c# function.

[2018-11-03 11:35] tobiasko commented on #41
The same applies for RT limits. see

"creating custom chromatograms"

 in UsingRawFileReader

[2018-11-06 08:15] cpanse opened #42 "`XICs.as.data.frame <- function(x)`"

[2018-11-08 15:19] tobiasko commented on #40
more unit test data

[FUSION2.zip](https://github.com/fgcz/rawDiag/files/2562313/FUSION2.zip)

[2018-11-08 17:11] tobiasko commented on #39
done.

[2018-11-08 17:12] tobiasko commented on #39
we still need to find out if our license is in agreement with the RawFileReader license.

[2018-11-14 10:59] tobiasko commented on #41
We should also adapt the XIC object structure. Currently we return
`

[1] "S3"

[1] "list" "XIC"

List of 4
 $ mass       : num 487
 $ times      : num [1:998] 0.604 0.631 0.659 0.685 0.688 ...
 $ intensities: num [1:998] 565 1684 704 13480 6214 ...
 $ filename   : chr "20180717_006_tSIM_demo.raw"
 - attr(*, "class")= chr [1:2] "list" "XIC"
`
without attributes for tolerance, RT limits, scan filte

[2018-11-14 11:23] tobiasko commented on #41
Another thing that comes to my mind: Is readXIC() a good name, or should it simply be XIC() like the class? This would follow the typical S3 constructor function style.

[2018-11-15 00:12] tobiasko opened #43 "class raw"
[code]
accordingly XIC() could be def. as
[code]

[2018-11-23 11:10] cpanse opened #44 "ggplots for QCs"
[code]

and

[code]

[2018-12-05 09:57] cpanse opened #45 "XIC mass range option for shiny application"
Hi Christian,

I was thinking: it would be really cool if in the shiny version of rawDiag you added an option for a custom mass XIC. For example if I wanted to see where a particular trypsin peptide was eluting I could type in the mass range (e.g. 421.74-421.76) and it would display those XICs.

Thanks for all your help; I’m really loving rawDiag.

Cheers,

Richard Hagan | PhD Student
Max Planck I

[2018-12-07 09:22] cpanse opened #46 "call C# code from R"
current setup
<img width="635" alt="screenshot 2018-12-07 at 10 18 47" src="https://user-images.githubusercontent.com/4901987/49638989-17c1e480-fa0a-11e8-8a88-49cf57eadc61.png">

exchange fileIO by linking

https://www.mono-project.com/docs/faq/technical/
<img width="937" alt="screenshot 2018-12-07 at 10 19 38" src="https://user-images.githubusercontent.com/4901987/49638822-a7b35e80-fa09-11e8-9232

[2018-12-14 11:03] tobiasko opened #47 "Def. origin scan type for instrument cycle"
It would be nice to def. which scan type should be used as a marker for the start of an instrument cycle. Here is an example:

We execute cycles of
MS1 -> msxSIM -> M2-> ... -> MS1 -> ...

selecting MS1 as origin scan would def. an instrument cycle. This would allow plotting cycle specific stats.

- How many cycles did the instrument do?
- How long is a cycle?
...

[2019-01-22 08:59] dzolg opened #48 "Error: Negative length vectors are not allowed"
Dear RawDiag Team,

I am trying to extract scans from a RAW file. MS2 scans work, MS1 scan extraction works in general, e.g. if I subselect the first 100 scans to extract. Whenever I submit a large amount of scans (like all MS1 scans of a file), readScans returns:

`Error in source(tfo) : negative length vectors are not allowed`

~I suspect that one of the scans might be empty (have seen that befo

[2019-01-22 17:31] dzolg commented on #48
Update: Seems to be a memory issue, quite a lot hits for the error. When I chunk the scans (5x1000 scans) it runs fine. So I guess the function does not scale well to ~ 5k MS1 scans (profile) or > 80k MS2 scans (these were testfiles that fail).

[2019-01-23 13:44] cpanse commented on #48
@dzolg pfff;  this is massive ...
Can you try to apply a `Divide and Conquer' strategy?
Maybe you can extract the desired information before the merging step.

here is an example
[code]

the snippet seems to work on our 64 core linux box:

![screenshot 2019-01-23 at 14 40 20](https://user-images.githubusercontent.com/4901987/51610348-d5525980-1f1c-11e9-93bc-3285efab2c39.png)

![screenshot 2019-01-

[2019-01-24 08:34] #48 closed

[2019-02-08 08:58] cpanse opened #49 "implement a read.raw.info method"
[code]

[2019-02-08 09:00] cpanse commented on #49
https://github.com/fgcz/rawDiag/blob/c50ff4079aad823aa94ffae8639bbc2d7c91ddb0/R/rawDiag.R#L524

[2019-02-08 11:51] kaniawave commented on #49
It works! Confirmed! Thanks for the great piece of code.

[2019-03-24 12:32] cpanse commented on #13
[ASMS2018_ID291250.pdf](https://github.com/fgcz/rawDiag/files/3000372/ASMS2018_ID291250.pdf)

[2019-04-24 17:26] pisistrato opened #50 "Number of precursors scheduled for fragmentation for each MS1 scan"
First of all, rawDiag is AWESOME!
I guess this is more a feature request, but I am not completely sure this is even possible.
It would be nice to be able to extract from a raw file the list of monoisotopic m/z the mass spectrometer has 'calculated' from the MS1 survey scan. I believe Thermo is using a proprietary (?) algorithm for the MIPS, but probably the output of that step (probably m/z, charg

[2019-05-07 12:03] cpanse commented on #35
[rawDiagXICdemo__.pdf](https://github.com/fgcz/rawDiag/files/3152473/rawDiagXICdemo__.pdf)

[2019-05-08 10:25] tobiasko commented on #50
Hi pisistrato,

thx for your interest in rawDiag, but I fear we can not help here. To the best of my knowledge the list of potential targets ions is either not stored in the raw file or not accessible through the RawFileReader dll. I guess this list only exists during the instrument run time and lives in memory of the internal orbitrap PC.

Have you checked

[iAPI](https://github.com/thermofisherl

[2019-05-08 10:25] #50 closed

[2019-05-28 07:11] cpanse commented on #49
![Screenshot 2019-05-28 at 09 09 11](https://user-images.githubusercontent.com/4901987/58457995-4c486a80-8128-11e9-88b2-8ab5f54d2095.png)

@kaniawave since version 0.0.34 there is a rawDiag::read.raw.info function.

[code]

[2019-05-28 07:13] #49 closed

[2019-05-28 14:35] cpanse commented on #46
[code]

[2019-05-28 14:53] cpanse commented on #46
[code]

[2019-05-28 15:50] cpanse commented on #46
<img width="836" alt="Screenshot 2019-05-28 at 17 47 49" src="https://user-images.githubusercontent.com/4901987/58492369-0d8ad280-8171-11e9-9320-1d7ef2d8d3d8.png">

[2019-05-28 19:03] cpanse commented on #46
https://github.com/fgcz/rawDiag/blob/f9d53c0cb42f5a138fc3d9be8f2da625bb837619/src/fgcz_raw.cs#L265

[2019-05-29 12:16] cpanse commented on #46
# Install and test Rcode snippet

[code]

[2019-05-29 13:21] tobiasko commented on #46
Works!

[code]

[2019-06-13 07:31] cpanse opened #51 "implement `MsBackendRawDiag.R` for `Spectra`"
https://github.com/fgcz/rawDiag/blob/0d3f5d465296240d2c100357c95a2777d7e74770/R/rawDiag.R#L496

https://github.com/rformassspectrometry/Spectra

[2019-06-13 11:03] tobiasko commented on #51
I think this task is not named correctly. If we go for this we do not want to have a coercion function, but we need to def. a backend that can access spectral data stored in raw files:

https://github.com/rformassspectrometry/Spectra/blob/master/man/MsBackend.Rd

The easiest might be to create an MsBackendDataFrame that keeps all data in memory. A backend that keeps peak lists on lists on disk mig

[2019-06-14 08:24] lgatto commented on #51
Yes, I confirm that the correct way forward would be to define a backend that uses the mono libraries to access the raw data and the metadata in a `DataFrame` - see the `MsBackendMzR` for that does exactly that but with `mzR`.

[2019-06-14 08:31] cpanse commented on #51
@lgatto @tobiasko  yep; I am not so fast ...  upgrading BioC form 3.7 to devel on my playground box reminds me of my 1st SuSE4.2 install in 1996. (except changing the install disk 1-3)

[2019-06-14 11:59] tobiasko commented on #51
@lgatto, would you suggest to bundle the code for the alternative backend into a separate bioconductor package? Will bioconductor be ok with hosting Thermo DLLs?

https://planetorbitrap.com/rawfilereader

[2019-06-14 13:39] lgatto commented on #51
Yes, a separate `MsBackendRawDiag`package *on github* that ships the DLLs is an option. Or, a function that downloads them upon first initialisation is also a solution.

[2019-06-14 13:40] lgatto commented on #51
Pinging @jorainer

[2019-06-15 11:59] cpanse commented on #51
## 1.  All in memory
[code]

[code]

## 2. Lazy evaluation

t.b.d.

[2019-06-15 12:10] cpanse commented on #44
http://fgcz-ms.uzh.ch/~cpanse/autoQC4L.html#32_visualization_of_the_models

[2019-06-15 17:11] tobiasko commented on #51
Cool!!!

But this statement still confuses me: `as.peaklistSet.DataFrame(...)`

The above function coerces a peaklistSet object to a DataFrame? Why not simply `as.DataFrame(...)`? Like `date <- as.Date("2017-01-01")`.

And I am still wondering if there is a more elegant way to initialize the backend. Maybe @lgatto can explain us why the `backendInitialize(...) needs a file argument if used for `Ms

[2019-06-15 17:38] jorainer commented on #51
Nice! But be aware that there will be some quite substantial changes to the `MsBackend`:
- `@files` slot will be removed, information about where the data is stored should be provided by the `dataStorage` spectra variable (and method).
- `fromFile` will be removed.
- `fileNames` will be removed.

I am currently finalizing the required changes in the `Spectra` and fixing/adding unit tests. I'll pin

[2019-06-16 10:56] tobiasko commented on #51
@jorainer Thx for keeping us in the loop! Is the class definition of `Spectra` already stable/is is safe to inherit?

[2019-06-16 11:11] lgatto commented on #51
There aren't any major changes to be expected, but some small changes are very possible. If you prefer to wait for a more stable release, I would suggest to wait of a pre-Bioconductor release.

[2019-06-17 08:04] cpanse commented on #51
this is just S3 cosmetics
https://cran.r-project.org/doc/manuals/r-release/R-exts.html#Registering-S3-methods

[2019-06-17 09:25] tobiasko commented on #51
@cpanse Ok, let's discuss coding style issues offline! ;-)

[2019-06-20 07:01] jorainer commented on #51
We recently made some changes in the `MsBackend` definition:
- `@files` and `@modCount` slots are gone.
- Add new spectra variables `dataStorage` and `dataOrigin`

The `dataStorage` is thought to be the replacement for the `@files` with the difference, that it will return for each spectrum the current storage location (e.g. mzML file, memory, HDF5 file, ...).

I don't expect any major chages anymo

[2019-06-20 09:57] cpanse commented on #51
@jorainer @lgatto @sgibb; we are on the way shaping a `MsBackendRawFileReader` package.

[code]

[2019-06-20 09:57] #51 closed

[2019-06-20 10:33] lgatto commented on #51
That's cool.

I had initially the impression that you were using the `MsBackendDataFrame` as template. You should however rather look at `MsBackendMzR` for a better fit.

[2019-06-20 10:43] cpanse commented on #51
@lgatto at the moment I am only ctrl-c/ ctrl-v-ing from `MsBackendMzR`. We have it private for the moment to avoid confusion, but if you wish, we can add you all three to the repository at any time.

[2019-06-20 19:58] lgatto commented on #51
I wouldn't have much time for development at the moment, but would be happy to provide support if needed. I imaging that @jorainer and @sgibb would also contribute important feedback.

[2019-06-21 09:05] cpanse commented on #51
@lgatto @jorainer @sgibb we added you to the repo just to enable some transparency and important feedback.

[2019-07-31 17:46] David-Degnan opened #52 "Add Signal to Noise data to ReadScan"
Hello! Thank you for developing this useful package. Is there any way to add the signal to noise info to the object returned by ReadScans? This is a value that Thermo stores in the .raw file for every peak, besides the m/z and intensity. I believe that it can be obtained from one of the ThermoFisher.CommonCore DLLs already utilized by rawDiag. Thanks!

[2019-08-20 05:58] cpanse opened #53 "dodge multiple chromatograms to different positions in PlotTICBasePeak as overlay"
(e.g. https://www.chromacademy.com/chromatography-LC-MS-Contamination-prevention.html).

[2019-08-20 06:07] cpanse opened #54 "overlays of different plots"
code snippet by Dierk-Christoph Pöther

[code]

[2019-08-27 08:11] tobiasko commented on #52
Hi David,

to my knowledge S/N is not something that gets written into the raw file, but is rather estimated for each peak by an offline algorithm that examines the local surrounding. Where does your info come from that it is written into the file?

Best,
Tobi

[2019-08-30 03:39] David-Degnan commented on #52
Thanks for the reply, Tobi!

You are correct. We need the noise or background information stored for each peak.

[2019-08-30 06:59] #52 closed

[2019-08-30 19:34] David-Degnan commented on #52
Hello Tobi,

It seems I may have been unclear. We would still like to add signal/background information to the object returned by ReadScans. We believe this value is stored in one of the ThermoFisher DLLs, likely ThermoFisher.CommonCore.RawFileReader.dll. Here's a reference: https://github.com/PNNL-Comp-Mass-Spec/Thermo-Raw-File-Reader/blob/master/XRawFileIO.cs#L2508

Thank you!

[2019-09-02 16:27] tobiasko commented on #52
Hi David,

in general DLLs do not store any values:

https://support.microsoft.com/en-us/help/815065/what-is-a-dll

In short, DLLs are code modules. The code line you linked above:

```var data = mXRawFile.GetCentroidStream(scan, false);```

references the method ```GetCentroidStream``` and to my knowledge it returns a set of position and intensity values in array format. Position is equivalent to

[2019-09-02 16:40] tobiasko commented on #52
btw: I guess the only person that really KNOWs what is inside raw files is jim.Shofstahl@thermofisher.com
I could also be that the [.NET assemblies](https://planetorbitrap.com/rawfilereader) do not make it accessible. :-(

[2019-09-10 18:16] David-Degnan commented on #52
Hello Tobi,

The GetCentroidStream returns an array of position, intensity, resolutions, baselines, noises, and charges. We would like the noises added to ReadScans. https://github.com/PNNL-Comp-Mass-Spec/Thermo-Raw-File-Reader/blob/master/XRawFileIO.cs#L2520

Thank you!

-David

[2020-04-25 16:27] viviantra opened #55 "read.raw output"
Hi, I have a question about read.raw.

I was able to install the package.  However, I am not sure if I have got the expected information from read.raw function.  Can someone verify my output is correct?  What I don't understand is: why am I only getting length of 573?  More specifically, I would expect more than one entry in each ScanNumber.  For example, there are in reality multiple ions in scan

[2020-04-26 07:29] tobiasko commented on #55
Hi Vivian,

the test data of the package only contains 573 scans. Please check by using Thermo QualBrowser or Freestyle. The raw file is located in a subfolder of the package. To locate the package folder use:

[code]
Go to the package folder and change to the `extdata` subfolder. You will find `sample.raw`.

`read.raw()` will return a data.frame including one row for each scan. The columns are de

[2020-04-26 07:49] tobiasko commented on #55
For the extraction of peak lists we have implemented `readSan()`

[code]

[2020-04-26 07:52] tobiasko commented on #55
Details on using `readScans()` and `readXICs` are shown [here](http://fgcz-ms.uzh.ch/~cpanse/rawDiagXICdemo.pdf)

[2020-04-26 19:26] viviantra commented on #55
Thank you!  Very helpful!

I think readXICs is what I need.  If I want to extract peptides intensities from a batch of files, how do I use readXICs across multiple files in the same directory?  Thank you!

[2020-04-27 04:37] tobiasko commented on #55
Hi Vivian,

`readXICs()` is indeed not vectorised. You would need to use a function from the `apply()` family to do this. Our FAQ section lists an example using a multi core apply control structure, see [here](https://github.com/fgcz/rawDiag#341-i-would-like-to-load-multiple-files-into-a-single-dataframe-to-do-comparisons-what-is-the-preferred-method-for-doing-so). That should also work for `readX

[2020-04-27 04:46] tobiasko commented on #55
You might also check the [ThermoRawFileParser](https://github.com/compomics/ThermoRawFileParser) XIC function.

[2020-04-27 08:58] cpanse opened #56 "test rawDiag release on R-4.0.0"
!! Linux

!! Microsoft Windows 2012

[code]

!! macOS 10.15.4 - Darwin 19.4.0

[2020-05-01 15:29] viviantra commented on #55
Hi Tobi,

Yes readXICs() is exactly what I need!!

I was able to extract all the features from all files and analyze them together.  The mass column from readXICs() is the mass used for extraction.  It would be nice to list the mass in the raw feature as another column.  I have not tried readScans().  I imagine readScans will have the actual mass.

Thank you so much for the help and information.

[2020-05-01 15:29] #55 closed

[2020-05-01 16:49] tobiasko commented on #55
Hi Vivian,

nice to hear that our package was useful to you. Regarding "the mass": Not sure if I get you correctly, but we list the `PrecursorMass` in the raw data.frame. For MS2 scans this is the m/z values used for quadrupole isolation.

Best,
Tobi

[2020-05-12 11:33] 3H2ORZ opened #57 "Split one plot into multiple pages"
Thanks for developing this great tool!
I have 20 raw files to read, plot and export as PDF. Some functions (e.g, cycle time plot) stack all these files together in one page of PDF, which are not readable in the end. Is there a solution to split one into several pages?
![image](https://user-images.githubusercontent.com/63189278/81682525-2c06de00-9455-11ea-8e8f-59aebe562729.png)

[2020-05-14 07:39] tobiasko commented on #57
Hi @3H2ORZ,

nice to hear that you like our tool! Are you using the Shiny app for plotting or the R command line?

Best,
Tobi

[2020-05-14 07:54] cpanse commented on #57
@tobiaskoI guess there is a ggplot option or function to fix that.

[2020-05-14 12:35] 3H2ORZ commented on #57
Hi Tobi,

Thanks for reaching out. I am using the R command line to generate the pdf file.

Best,
RZheng.

[2020-05-15 19:41] ctrachse commented on #57
Hi 3H2ORZ
Since you are using the R command line, I suggest you go with the following approach:
Load your data, create a nested `data.frame`, apply the plot function on your nested `data.frame`, save as pdf.

I wrote a small test script using the Data included in the package repository [PXD006932.Exp3A](https://github.com/fgcz/rawDiag/blob/R3.7/inst/extdata/PXD006932_Exp3A.RData)

[code]

this res

[2020-05-19 13:28] ctrachse commented on #57
Hi @3H2ORZ

have you tried the suggested solution? Did it work?

best
Christian

[2020-05-19 20:33] 3H2ORZ commented on #57
Hi Christian,

I tried it several times, but it looked like the function ScanFrequMovingOver cannot be called in my R. It reported: Error in ScanFrequMovingOver(.) :  could not find function "ScanFrequMovingOver".
Then I used: rawDiag:::ScanFrequMovingOver(.), to successfully call it.
I will try to use this method to apply to the other plots.

Thanks for the quick response and your kindest help.

[2020-05-21 20:29] #57 closed, assigned to tobiasko, ctrachse

[2020-05-24 16:25] viviantra commented on #56
I could not use plot(XIC)

R version 4.0.0 (2020-04-24)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Catalina 10.15.4

Matrix products: default
BLAS:   /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/4.0/Resources/lib/libRlapack.dylib

locale:
[1] en_US.UTF-8/en_US.UT

[2020-05-25 08:45] cpanse commented on #56
@viviantra thanks for reporting. until we patch that you can use
[code]

[2020-05-25 14:53] viviantra commented on #56
That works.  Thank you!

[2020-06-16 12:06] jjGG opened #58 "plot.peaklist function does not allow to overwrite title and y- n xlabels"
plot.peaklist <- function (x, y, ...)
{
    plot(x$mZ, x$intensity, type = "h", main = x$title, xlab = "m/Z",
        ylab = "intensity", ...)
}

=========
main, xlab, ylab is hard coded!!
please make it flexible ;)

should be assigned to cp

[2020-07-15 07:40] cpanse opened #59 "R 4.0.2 - Error: `x` must be a vector, not a `data.frame/rawDiag` object."
[code]

[2020-07-15 07:41] cpanse commented on #59
solution

[code]

[2020-07-27 11:13] BerndMaier opened #60 "Problems reading Meta Data from QExactive HF / HFX Instruments"
First, thanks for your amazing package.
I have an issue with our newer instruments.

RawDiag 0.0.34 returns an Error when Using read.raw.info

( > QE_HFX_Meta <- read.raw.info(QE_HFX)
Error in !silent : invalid argument type )

With one QExactive HF and one QExactive HFX Instrument.
Other Instruments (Fusion, Velos, EMR, UHMR and another QE HF) work fine.

Both instruments also control their Therm

[2020-07-27 11:24] BerndMaier opened #61 "Reading Analag Traces from RawFiles"
Hi there,

2 of our instruments have their LC Systems (Thermo Vanquish) directly connected through Xcalibur, with the MassSpecs (QE HF & HFX), within one system.

The LC traces (UV, Column Temp, Pump pressure etc.) are written as analog traces to the MS rawfile.

Is there a possibility to read these analog traces with rawDiag - just as the TIC trace ?

![xcalibur_hfx](https://user-images.githubuse

[2020-07-27 11:37] BerndMaier opened #62 "Read additional Infos from Raw Files (Status Log, Tune Method) etc."
Hi,
is there a possibility to access some additional information of the MS raw files.

Like the Status Log - containing the instrument read outs (voltages, temperature, pressure etc.) for every scan - accessible usually through Xcalibur -> view -> report -> status log

![xcalibur_reports](https://user-images.githubusercontent.com/56107630/88537422-daaacb80-d00d-11ea-9631-d5c64f3ebaa2.PNG)

Thank y

[2020-07-27 11:51] tobiasko commented on #60
Hi Bernd,

so the MS instruments connected to the Vanquish LCs use Xcalibur & LCDevices or is the LC integration SII-based? Are the UV, column temp, pump pressure traces really going through the D/A converter of the MS? There is only two analog inputs available on the HF and the HF-X. We use the analog inputs to record the LC system pressure and %B, but we use 3rd party hardware (Waters LCs). I th

[2020-07-27 12:23] BerndMaier commented on #60
Hi Tobias,
the LC is connected to the PC via USB connection - so given the screen shot I took from Xcalibur - i think it should be a SII (unfortunately) i don't know the term)

![qe_hfx](https://user-images.githubusercontent.com/56107630/88540627-9ae6e280-d013-11ea-98d4-60b4ffcaca11.JPG)

I sent you an Email with a link to Rawfiles from both instruments.

Thank you very much,
Bernd

[2020-07-27 12:38] tobiasko commented on #60
Yes, that looks like SII for Xcalibur. Hmmmm. Ok. So, all our LC-MS combinations use Xcalibur & LCDevices, so we have zero experience with this way of recording data into raw files. I expect that SII generates separate data streams for UV, column temp, pump pressure,... but we need to check your files.

I think our current code only uses detectors of the type `MS` or `MStrending`

[2020-07-27 12:40] tobiasko commented on #60
btw: When checking raw files use Freestyle. Qualbrowser is outdated. I am not even sure if it uses RawFileReader dlls internally!

[2020-07-27 12:53] BerndMaier commented on #60
Yeah, we are switching to FreeStyle - but old habbits ;)

But the installed Thermo Software shouldn't affect rawDiag and the functions ?

I really would be quite happy in accessing the data from read.raw.info as Sample Name, Column Name etc.  would be really useful for our Dashboards.

Thanks again,
Bernd

[2020-07-27 12:55] tobiasko commented on #62
Hi Bernd,

yes, there is a lot of scan attributes already available through rawDiag, please check:

https://github.com/fgcz/rawDiag#343--how-to-get-all-scan-attributes-assosiated-to-each-scan

You should see a similar list in Freestyle when selecting `Chromatogram ranges -> Detector type: MS Trending`

<img width="1027" alt="Screenshot 2020-07-27 at 14 51 24" src="https://user-images.githubusercon

[2020-07-27 13:08] tobiasko commented on #61
Hi Bernd,

I think we haven't tried this so far, but according to the RawFileReader documentation it is possible to read data streams coming from other detectors types than `MS`.

We need to check your data.

Best,
Tobi

[2020-07-27 13:19] BerndMaier commented on #61
Thank you very much - just added a File where we recorded UV to the Raw Files

[2020-07-28 09:50] tobiasko commented on #60
@cpanse The raw files are available at `fgcz-r-033.uzh.ch:/scratch/tobiasko/rawDiagIssues/#60`

[2020-07-28 10:01] tobiasko commented on #60
Hi Bernd,

I checked your file, but can't reproduce your error message:

[code]

Could it be that your `file` argument is not set correctly?

[2020-07-28 10:02] tobiasko commented on #60
R version 3.6.3 (2020-02-29)
Platform: x86_64-apple-darwin15.6.0 (64-bit)
Running under: macOS Catalina 10.15.4

Matrix products: default
BLAS:   /System/Library/Frameworks/Accelerate.framework/Versions/A/Frameworks/vecLib.framework/Versions/A/libBLAS.dylib
LAPACK: /Library/Frameworks/R.framework/Versions/3.6/Resources/lib/libRlapack.dylib

locale:
[1] en_US.UTF-8/en_US.UTF-8/en_US.UTF-8/C/en_US.U

[2020-07-28 10:04] tobiasko commented on #60
same for the HF-X file:

[code]

[2020-07-28 10:17] tobiasko commented on #60
[code]

[2020-07-28 10:29] tobiasko commented on #60
What you can see is that the `*with_UV` file contains two additional instruments that recorded data.

[2020-07-28 10:40] tobiasko commented on #61
@cpanse Could you try to implement a function that wraps the example C# code for `Instrument (detector) List` shown in `UsingRawFileReader` as well as `Getting detector details`???

[2020-07-28 10:44] BerndMaier commented on #60
First: Glad to hear that it should work properly.

I again tried on 2 machines with R 3.63 and 4.02

Hope I don't have any stupid mistake in read.raw.info action -  but with all other instruments it works fine.

![r4_readrawinfo](https://user-images.githubusercontent.com/56107630/88655926-c929f800-d0cf-11ea-825a-69b302b9407a.PNG)
![r36_readrawinfo](https://user-images.githubusercontent.com/5610763

[2020-07-28 10:55] tobiasko commented on #60
What do you get when executing:

[code]
???

[2020-07-28 11:01] BerndMaier commented on #60
The same error ...

rawfile <- file.path(path.package(package = 'rawDiag'), 'extdata', 'sample.raw')

Error in !silent : invalid argument type

But with other instruments

$`Number of instruments`
[1] 2

$`General File Information`
$`General File Information`$`RAW file`
[1] "M20070308_SST.raw"

$`General File Information`$`RAW file version`
[1] 66

$`General File Information`$`Creation date`
[1] "

[2020-07-28 12:11] tobiasko commented on #60
That you can not process the package example data is pretty strange. I am having the feeling your error is not connected to specific files. What do you get:

[code]

[2020-07-28 12:15] BerndMaier commented on #60
[1] "C:/Users/maierb5/Documents/R/win-library/4.0/rawDiag/extdata/sample.raw"

[1] "character"

Took a look at Sample.raw
Its also a QExactive HF-X Instrument

Just attached read.raw.info of our Thermo Instruments

![all_instruments](https://user-images.githubusercontent.com/56107630/88664300-2bd5c080-d0dd-11ea-8e86-2728ede7b881.PNG)

![all_instruments2](https://user-images.githubusercontent.com/5

[2020-07-29 06:41] tobiasko commented on #60
Hmmm...currently I have no idea how to proceed, especially because I can not reproduce your error on my system. Maybe @cpanse can help!?

[2020-07-29 06:58] BerndMaier commented on #60
Thanks for the efforts.

I try to find a none Windows System to test. But at least here on 3 independent Windows machines I have the same problem.
As your test was on a Mac system. Don't know if this should make any difference

Just saw that the beginning of the function
___

function (file, mono = if (Sys.info()["sysname"] %in% c("Darwin",
    "Linux")) TRUE else FALSE, exe = file.path(path.packa

[2020-07-29 07:15] tobiasko commented on #60
Yes, there is a difference. On Windows you just need to have the MS [.NET framework](https://dotnet.microsoft.com/download) installed.

According to [planet orbitrap](https://planetorbitrap.com/rawfilereader) you should have >4.5.1

[Mono](https://www.mono-project.com/) is the open source .NET implementation needed on MacOS to use the RawFileReader dlls. I hope at some point RawFileReader will be

[2020-07-29 07:46] tobiasko commented on #60
Finally! On a Windows system I get the error too:

[code]

[2020-07-29 07:48] tobiasko commented on #60
@cpanse Don't we have a unit test for `read.raw.info()` that should fail? Or is the unit testing only done on MS OS?

[2020-07-29 07:54] BerndMaier commented on #60
Ok, it is good that the Error is reproducible on the developer side, too.

Have so much bad experience with MassSpecs doing crazy things ... until Thermo or Waters is on site and everything is back to normal... until they leave.

[2020-07-29 08:06] tobiasko opened #63 "create unit test for `read.raw.info()`"
#60 shows that proper unit tests are VERY important ;-)

[2020-07-29 08:20] tobiasko commented on #60
I guess we will have a fix soon. I can't really tell you what is going wrong on Windows, but now we can follow the problem. :-)

[2020-07-30 13:48] tobiasko commented on #61
Regarding analog traces: I checked a raw file that we recorded on a Exploris 480 with both A/D inputs enabled. We feed two signals from our LCs into these ports. Using the following code you can already access the recordings and plot as a function of time:

[code]

![image](https://user-images.githubusercontent.com/12233339/88930600-fca98580-d27b-11ea-8781-6cb5a633b534.png)

I am not sure if all T

[2020-07-30 13:54] tobiasko commented on #61
Your analog traces seem to be empty:

[code]

[2020-07-30 15:10] tobiasko commented on #61
Most likely your LC-related data is logged as additional instrument. Currently, we don't have a function that allows accessing other instruments, but we will check if a code extension is possible.

[2020-07-31 07:02] joerg-b opened #64 "Cannot find dependency "Spectra""
When trying to install rawDiag I get this error:

ERROR: dependency ‘Spectra’ is not available for package ‘rawDiag’

I cannot find a package of this name on CRAN or Bioconductor. Where can I get it?

[2020-07-31 08:24] BerndMaier commented on #64
Already tried to install like this ?

https://github.com/fgcz/rawDiag/releases

Think I got the same error message with the Version 0.0.36 from another page.

Spectra belongs to:
https://www.rformassspectrometry.org/pkgs/

[2020-07-31 08:27] BerndMaier commented on #61
Thank you very much for checking

Would be a really nice option - as to date Thermo itself has no option to quickly extract the UV traces in an automated way.

[2020-08-03 10:54] BerndMaier commented on #62
Thanks Tobi,
I checked the parameters in read.raw(...., rawDiag =F) and read.raw.info with some Fusion Files

Any chance to obtain the information in Reports\Sample Information ? Couldn't find them in the long long list read.raw outputs and read.raw.info just has some of them.

I wanted to use them to store some meta data information (column, project, sample matrix etc.) and read them automated wh

[2020-08-04 06:26] tobiasko commented on #60
I discovered something:

[code]

Reading from the current working directory is fine, using a rel. path fails.

[2020-08-04 06:37] tobiasko commented on #62
Hi Bernd,

not sure if I get your question correctly (comma separated in comment???) `read.raw.info` returns a nested list.

[code]
Please also check `?read.raw.info`. I am also not sure what you are missing. Since the nested lists are named you can even select list entries by name:

[code]

[2020-08-04 07:03] tobiasko commented on #62
Does this help? You might find [this](http://adv-r.had.co.nz/Data-structures.html) helpful.

[2020-08-04 08:24] BerndMaier commented on #62
Sorry for the confusion.

Yeah, i know about the returned structure. (But funny - I'm going through AdrancedR at the moment :) )

I posted the returned Sample Information of our Velos above.

I'm missing some information like Laboratory, Company, Phone etc. that are accessible from QualBrowser and most likely Freestyle.
___
These are all Columns you could use at Xcalibur Sequence creation

![Xcali

[2020-08-04 09:13] BerndMaier commented on #60
Unfortunatelly not here - also no difference between network and local drive or R version R 3.6.3 // 4.0.2
___
setwd("I://Users/maierb5/Transfer/")

Error in !silent : invalid argument type

___
setwd("C://Users/xxxx/Downloads/")

Error in !silent : invalid argument type

____

[2020-08-04 09:33] tobiasko commented on #62
Ahhhh! ok. Now I get it! @cpanse Could we add the other variables (Laboratory, Company, Phone, ...). I assume we already have access, but didn't include them due to a lack of personal interest.

[2020-08-04 10:13] BerndMaier commented on #62
Thanks - I also didn't care about these Xcalibur-Columns in the last 15 years - just now as we take "Data Topics" a bit more serious, we try to gather some additional information, to make statistics or just filter these criteria in Shiny and generate HTML-Reports for e.g. a specific column and or all 4h Tryptic digests etc.   -  thats where they now become useful for us.

[2020-08-06 09:04] tobiasko commented on #64
Hi @joerg-b,

which version of rawDiag are you using?

Our latest release is [Proteomics Forum 2019](https://github.com/fgcz/rawDiag/releases), or version 0.0.34. This release does not depend on `Spectra`. We hope to compile a new release soon.

Best,
Tobi

[2020-08-20 13:27] cpanse commented on #60
@BerndMaier Can you give it a try using R(> 4.0)
[code]

[2020-08-20 14:33] tobiasko commented on #60
[code]

[2020-08-20 18:15] BerndMaier commented on #60
Works like a charm - Thank you very much

I saw that you changed the structure of the Output to 1 big list - is this intentional - will stay this way for future releases ?

If the additional info from #62 added to this list i would be totally in heaven :)

____

rawfile <- "I://Users/maierb5/Transfer/HFX_with_UV.raw"

$`RAW file`
[1] "HFX_with_UV.raw"

$`RAW file version`
[1] "66"

$`Creation date

[2020-08-25 22:44] NicolasEsk opened #65 ".computeBestPeptideSpectrumMatch function"
In your latest publication (Proteomics Forum 2019 poster) you mention a PSM computation snippet using the function .computeBestPeptideSpectrumMatch. What it's supposed to do is very interesting to me, however this function doesn't exist in rawDiag (I tried 0.0.34 or 0.0.38), and I can't find where it comes from.
Could you tell me what I am doing wrong?

Thank you so much for rawDiag, this is truly

[2020-08-26 08:03] tobiasko commented on #65
Hi @NicolasEsk,

that is a good question. I went to the [code](https://github.com/fgcz/rawDiag/blob/R4/vignettes/ProteomicsForum2019_P55.Rnw) used for the poster, but I can not determine which `rawDiag` version was used. Maybe @cpanse can reveal the secret? :-)

[2020-08-26 08:12] cpanse commented on #65
we have a self-explaining vignette for computing the matches here:
fgcz-ms.uzh.ch/~cpanse/rawDiagXICdemo.pdf

[2020-08-26 08:13] cpanse commented on #65
the code snippet is here:

[code]

[2020-08-26 19:46] NicolasEsk commented on #65
Thanks for both your answers.
Before even trying to integrate that to my code, I went and tried to run the snippet just as is (just changed the rawfile path with a file that works and gives me good results with rawDiag functions).
So I run the snippet you sent, then go back to the poster's code but I get this error, that could be related to just formatting inconsistency? I have limited knowledge i

[2020-08-27 04:30] cpanse commented on #65
you ran out of disk space:
you have two options:
1. Do not read all spectra of the rawfile at once.

2. or use the latest version and set the tmp space
[code]

[2020-08-27 16:45] NicolasEsk commented on #65
Perfect, works like a charm now 💯
Thanks for the help, and even more for the package as a whole

Nicolas

[2020-09-07 22:46] NicolasEsk commented on #65
Salutations

For some obscure reason, last problem is back. Two weeks ago after updating to version 0.0.38, the error disappeared on every raw file I was using as test files.
Now there's a new file, and the problem is back.

[code]

Don't know if my solution was working then... I added this before my code, is it correct?
[code]
My E drive has 8TB of free space, I don't see how it could be space re

[2020-09-08 06:10] cpanse commented on #65
Hoi Nicolas, This is an R helper function for our poster addressing a targeted approach, namely to detect Biognosis IRT peptides, and it has never been intended to be used for something else. I'm sorry to say you have to debug that function on your own. Good luck, Christian

[2020-09-08 07:13] tobiasko commented on #65
Hi @NicolasEsk ,

does your sample contain any iRT peptides and how was the data recorded (is it PRM)? To me it looks like no, because you request a scan of index 0:

`Error while retrieving centroid peaks for 0. The scan number must be >= 1 and <= 21116.`

This most likely happens because there are no matching MS2 scans in your data.

[2020-09-11 16:28] NicolasEsk commented on #65
I am not using iRT as I wanted to adapt the function to my project, but I really think this shouldn't make the script break. I still need more testing but indeed it seems you are right Tobias. I am doing ddMS2 so if the peptide isn't selected for fragmentation, scanNumber will return zeros which are obviously not found as a valid scan number in the next steps of the function. I'll try running PRM

[2020-09-18 16:31] NicolasEsk commented on #65
It looks that was it. Error never happened with any of the PRM runs.

Thanks a lot for the precious help

[2020-09-28 14:22] breidan opened #66 "Installation of new RawFileReader files"
I would like to use `rawDiag` but do not find installation instructions at Thermo as suggested in the README file. The only thing I could find seems to involve VisualStudio which is not installed on the PC supposed to run `rawDiag`. I cannot install VisualStudio because the PC in question is not connected to the internet because of company policies.

How can I make `rawDiag` run now? Any suggestio

[2020-09-30 14:13] breidan commented on #66
Since no one answered yet I want to be a bit more concrete. The help of `read.raw` says:

Does this mean that for a WIN7 box they have to be in the GAC or would MONO_PATH also work? And if MONO_PATH would work which files are expected: only the DLLs or others as well?

[2020-10-01 11:11] breidan commented on #66
In the meantime I've decided to install the WIN version of `mono`, set `mono=TRUE` and MONO_PATH to the location of the dlls and `read.raw` works fine.

[2020-10-05 06:54] tobiasko commented on #66
Hi @breidan,

I am sorry to hear that no one answered your request. Could you please let me know which OS you are using, which version of rawDiag and R? The easiest is to use `sessionInfo()`

[2020-10-05 12:09] breidan commented on #66
Hi @tobiasko

Here is the `sessioninfo()`:

But why would that be of importance? The question was do I need to install VS to be able to run `rawDiag::read.raw` because the RawFileReader DLLs must be located in the GAC? Using MONO on WIN solved this and makes me feel better because I am using OpenSource.

[2020-10-06 06:48] tobiasko commented on #66
There is no need to install mono on a Windows OS, since Microsoft provides the .NET libraries. Mono is an open source implementation of Microsoft's .NET Framework for none MS Windows systems. Have you checked if .NET was installed on your system?

https://dotnet.microsoft.com/

[2020-10-06 06:52] tobiasko commented on #66
please check https://github.com/fgcz/rawDiag#11-net-framework-and-r

[2020-10-06 09:25] breidan commented on #66
Dear @tobiasko,

I did read the documentation. I did install .NET (V4.7.02558). I did get the RawFileReader assemblies. Unfortunately, the documentation does not provide any guidance of what to do with the RawFileReader assemblies. The only hint is the help for `read.raw` where it says they are expected to be in the GAC. The only information about how to place assemblies in the GAC is from MS sayi

[2020-10-06 09:25] breidan commented on #66
Dear @tobiasko,

I did read the documentation. I did install .NET (V4.7.02558). I did get the RawFileReader assemblies. Unfortunately, the documentation does not provide any guidance of what to do with the RawFileReader assemblies. The only hint is the help for `read.raw` where it says they are expected to be in the GAC. The only information about how to place assemblies in the GAC is from MS sayi

[2020-10-06 10:36] tobiasko commented on #66
Dear @breidan,

I very much agree with you that our section https://github.com/fgcz/rawDiag#12-the-new-rawfilereader-net-assembly-from-thermo-fisher-scientific kind of diverts the problem back to the source which is not ideal. @cpanse and me already discussed this topic many times and I always voted that we should ship those .NET assemblies with the package to prevent frustration. Unfortunately, h

[2020-10-06 10:55] breidan commented on #66
@tobiasko ,
I did try slim and also the Proteomics Forum 2019 release. Both did not work. `read.raw` would complain about not finding the RawFileReader dlls. And when you look at the slim tar ball then the dlls are not contained.
I removed `rawDiag` because I was testing different approaches and wanted to start clean every time.

[2020-10-06 11:00] cpanse commented on #66
@breidan

[code]

requires R (>= 4.0) or higher from your `sessionInfo` I see that you use R 3.6.

[2020-10-06 11:07] breidan commented on #66
@cpanse
That is true. I took the liberty of manipulating the DESCRIPTION file so it would install with R 3.6. And it did install just fine.

[2020-10-06 11:41] cpanse commented on #66
OK; Have you tried to terminate R and start it again?

[2020-10-06 11:56] tobiasko commented on #66
I just downloaded the tar.gz archive using a web browser and checked the content:

![Screenshot 2020-10-06 at 13 53 12](https://user-images.githubusercontent.com/12233339/95198479-99882200-07db-11eb-9ad1-8d567558aeb4.png)

The archive contains the RawFileReader dlls

[2020-10-06 12:12] breidan commented on #66
@tobiasko

If I download [https://github.com/fgcz/rawDiag/archive/0.0.40.tar.gz](url) and unpack with 7-zip then there are no dlls in the exec dir.

[2020-10-06 12:20] tobiasko commented on #66
You need to download http://fgcz-ms.uzh.ch/~cpanse/rawDiag_0.0.38.tar.gz
Sorry for the confusing numbering! The slim release is version 0.0.40, but corresponding archive is labeled `0.0.38`

[2020-10-06 12:29] breidan commented on #66
@tobiasko, @cpanse,

This is confusing. I downloaded http://fgcz-ms.uzh.ch/~cpanse/rawDiag_0.0.38.tar.gz, changed the DESCRIPTION and installed on R3.6. It installed ok, the dlls are present, and `read.raw` is working just fine now.
As I said above: the documentation should be brought up to speed.
Thanks for the help.

[2020-10-06 13:11] cpanse commented on #66
we released 0.0.38. tnx

[2020-10-06 14:55] #64 closed, assigned to tobiasko

[2020-10-09 07:57] breidan commented on #66
I just downloaded  http://fgcz-ms.uzh.ch/~cpanse/rawDiag_0.0.38.tar.gz to install on a linux box with R4.0. But it did not install because the new RawFileReader assemblies are missing. What happened to a few days ago when I downloaded and they were there?

Edit: I have to correct myself: I downloaded https://github.com/fgcz/rawDiag/archive/0.0.38.tar.gz which does not contain the dlls. @cpanse: Ma

[2020-11-17 08:27] #66 closed, assigned to nobody

[2020-11-19 09:02] Stortebecker commented on #59
Same problem here, using rawDiag 0.0.34 and R 3.6.2.
Thanks for the workaround!

[2020-11-19 09:07] cpanse commented on #59
@Stortebecker please see also our latest release https://github.com/fgcz/rawDiag/releases/tag/0.0.38
and our new package:
https://github.com/fgcz/rawR
C

[2021-02-05 11:49] BerndMaier commented on #62
Hi there, saw these columns accessible in rawrr :+1:
Will this be added to rawDiag, too?

Not sure if this question makes sense here: Is rawDiag also still in development - or just rawrr ?

[2021-02-05 13:50] cpanse commented on #62
@BerndMaier in the future we will run rawrr under the hood of rawDiag. If we find a way to make you happy we will give it a try.

[2021-02-05 14:53] BerndMaier commented on #62
@cpanse  oh - i'm already very happy to have now access through rawrr::readFileHeader - just wanted to understand how the two packages fit together - :1st_place_medal:  thanks again

[2021-02-08 17:29] rcastelo opened #67 "Error in source(tfo) : negative length vectors are not allowed"
hi,

thank you very much for putting together this package to enable reading propriatary Oribtrap RAW files into R. i'm trying to read and process the RAW files at

https://www.ebi.ac.uk/pride/archive/projects/PXD011626

using the `rawDiag` package but following the vignette, I'm encountering an error at somepoint. To reproduce it, you can download the following file:

ftp://ftp.pride.ebi.ac.uk/pr

[2021-02-08 18:32] cpanse commented on #67
Dear Robert,

Thank you for your e-mail.

the file is too big. just split the problem into smaller scan packages (no more 1000 scans),

e.g, by using `mclapply`.

usually, it does not make sense to read 30K scans in one piece.

[code]

I hope that helps.

Best wishes,

Christian

PS: we have developed a more robust | better designed | more flexible package for reading Orbitrap data into R (see als

[2021-02-09 17:06] rcastelo commented on #67
Dear Christian,

thanks for your prompt response, indeed reading fewer scans at once works fine. With respect to the new package 'rawrr', do you recommend me to switch to this new package or do you mean that rawDiag will be calling functions from rawrr?

One further question, let's say i want to check for the presence of the peptide

AAVGQEEIQLR

in this Orbitrap data, do you have published any wo

[2021-02-09 22:16] cpanse commented on #67
Dear Robert,

1.
If you want to access Orbitrap data, e.g., spectra and chromatograms, switch to rawrr. If you are interested in the diagnostic plots, use rawDiag.

2.
Given your raw file, there seems to be a match for scan 9340.

[code]

The code snippet above is not meant to be a real search engine as, e.g., http://comet-ms.sourceforge.net/ is. It is just a visual check ... very heuristic.

A be

[2021-02-09 22:20] cpanse commented on #67
@ctrachse Can you help me to fix these dplyr issues?

[2021-02-10 18:30] rcastelo commented on #67
Thanks Christian, this is great, is there a package for R that would do the job of a real search engine? could you recommend me any reading or course material for learning how to interpret the "relative intensity by m/z" plot to reach the conclusion that a given peptide is there?

[2021-02-10 19:27] cpanse commented on #67
Robert;

There is no R package I have tested and can recommend. I use [comet](http://comet-ms.sourceforge.net/) since the beginning. It is well-engineered, robust, easy to configure, and fun to use from the command-line or automatic workflows, easy to compile (C++) on all major platforms. It should also be no big deal to build an R wrapper and trigger a system2 call or make a lib call using Rcpp.

[2021-02-11 11:31] tobiasko commented on #67
Hi @rcastelo,

you might have a look at the [MSGFplus R package](https://bioconductor.org/packages/release/bioc/html/MSGFplus.html). It provides an R interface to the popular MS-GF+ search engine. The engine is written in JAVA and should therefore run on all popular OS. What I don't like is that you need to convert raw data to PSI exchange formats (no direct access).

Regarding the interpretation

[2021-02-11 11:39] tobiasko commented on #67
Neonatal dried blood spots are for sure not the above described typ of sample.

[2021-02-11 13:14] tobiasko commented on #67
Your data is of the type explained in https://portlandpress.com/biochemist/article/42/5/64/226371/A-beginner-s-guide-to-mass-spectrometry-based, Fig. 2A

[2021-02-11 18:57] rcastelo commented on #67
Dear Christian, dear Tobias,

Thank you very much for your useful comments. I'm not surprised that you say that scan 9340 looks like noise since, as Tobias looked up, this is data acquired from a neonatal dried blood spot, which actually was stored at room temperature for over 5 years and I guess that makes it a difficult sample. Our proteomics core ran the MS over 20 such samples and did the quan

[2021-02-11 20:54] cpanse commented on #67
Dear Robert,

1.
In general, I would say no critical information is lost when converting to the HUPO-PSI format. However, it is always possible to generate a case where information is lost.

In the beginning, we processed Terrabytes of MS data by generating mzXML -> Sequest -> ISB TPP -> XML -> HTML.
E.g.,
https://doi.org/10.1038/nbt1300
https://doi.org/10.1371/journal.pbio.1000048

This pipeline

[2021-02-12 09:33] tobiasko commented on #67
Dear Robert,

I think it would indeed be nice if one could run DB searches or spectral library searches from the R command line just using the raw data as input. But I would def. take an existing engine and only build an R interface around it. There is already so many good engines (code) out there, why reinventing the wheel? I guess the problem is that Thermo Fisher Scientific "only" offers a .NET

[2021-02-12 09:56] tobiasko commented on #67
I just tried the latest ThermoRawFileParser release on my Mac:

[code]
Conversion works without an issue and it should be very easy to write  a corresponding `system2()` call in R. Actually pretty cool!

[2021-02-12 14:26] tobiasko commented on #67
@rcastelo below is a MSGF+ run on my system:

[code]
The results are written to mzIdent files (another HUPO-PSI format). These can be read using Bioc [mzID](https://www.bioconductor.org/packages/release/bioc/html/mzID.html):

[code]

Hope this helps,
Tobi

[2021-02-12 20:10] rcastelo commented on #67
Dear Christian and Tobias, thank you very much again for sharing your frank opinion on this and for your very specific advice. I agree that if there's robust code existing for a specific analysis goal, it doesn't make sense to rewrite it. I just thought that because in the rawR manuscript you motivate the need to have direct access to raw MS data from R, maybe you had in mind also the search probl

[2021-03-18 09:20] cpanse opened #68 "replace `warning` with `message`"
https://github.com/fgcz/rawDiag/blob/7482b8453332f64307d3cef6fa22ed1046706ccc/R/rawDiag.R#L78
[code]

[2021-03-18 09:44] #67 closed, assigned to cpanse, ctrachse

[2021-03-18 09:44] #65 closed, assigned to cpanse

[2021-03-18 10:01] #68 closed, assigned to cpanse

[2021-03-18 10:31] tobiasko opened #69 "Deprecation messages for read.XIC() and readScans()"
With the publication of `rawrr` we see no further need for the rawDiag functions `read.XIC()` and `read.Scans()`. Accordingly, we should display deprecation messages that announce the alternative functions in `rawrr`.

Some best practice info:

https://bioconductor.org/developers/how-to/deprecation/

https://r-pkgs.org/release.html#compatibility

[2021-03-18 11:36] cpanse commented on #69
[code]

[2021-03-18 11:36] #69 closed, assigned to cpanse

[2021-03-18 13:58] cpanse opened #70 "`funs()` was deprecated in dplyr 0.8.0."
fix it

[2021-03-19 17:38] cpanse opened #71 "Error in FUN(left, right) : non-numeric argument to binary operator in `PlotCycleTime`"
[code]

[code]

[code]

[2021-03-19 17:53] cpanse commented on #71
[code]

[2021-03-19 17:54] cpanse commented on #71
[code]

[2021-05-11 20:00] millerlehman opened #72 "issues with tempfile opening"
When I attempt to use read.raw, I am having an error about unable to open the file. It says "No such file or directoryError in file(file, "rt") : cannot open the connection"
When I look for the location, I can find the previous temp file but not the current described one, almost like it is taking a long time to create the file.

I am able to run the test file from sample.raw in the vingettes.

[2021-05-12 16:48] kwebber3 opened #73 "I am trying to run read.raw, but it returns an error"
I have tried installing the dll's required using both mono_path and gac, but I always get this error:

????????????: System.IO.FileNotFoundException: ???????????? 'ThermoFisher.CommonCore.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=1aef06afb5abd953'??????????? 1 ???????????????????????????????
   ?? FGCZ_Raw.Program.Main(String[] args)
missing column name(s): filename, scanNumber, Start

[2021-05-14 13:50] kwebber3 commented on #73
update: I installed it from here: http://fgcz-ms.uzh.ch/~cpanse/rawDiag_0.0.38.tar.gz and it worked! Thanks for solving this on previous post: https://github.com/fgcz/rawDiag/issues/66

[2021-05-14 13:50] #73 closed, assigned to nobody

[2022-03-25 10:31] lfnothias opened #74 "[Extra feature that would be nice] Using m/z / RT values for QCs rather peptides"
Actually, maybe there is a way to change the default peptides in the prepopulated list ?

[2022-03-25 10:35] lfnothias opened #75 "protViz 0.6.8 required prior to install rawDiag on R.4.0.5"
protViz 0.7 requires R >= 4.1
So one needs to install protViz 0.6.8 on R.4.0.5
https://cran.r-project.org/web/packages/protViz/index.html

[2022-03-25 10:38] lfnothias opened #76 "Package "mardown" and "plyr" have to be installed so the ShinyApp works"
install.packages(c("shiny", "DT", "markdown", "plyr"))